body {
	background-color: #700000;
	text-align: center;
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, sans-serif;
	color: #700000;
}

.float {
	background-color: #E6E6E6;
	border-color: #471919;
	border-style: solid;
	border-width: 15px;
	border-radius: 25px;
	text-align: left;
	margin-top: 0px;
	margin: 30px;
	padding: 15px;
}

.messages {
	background-color: #ffffff;
	text-align: left;
	border-radius: 10px;
	margin-left: 45px;
	margin-right: 45px;
}

.buttonStyle {
	color: #FFFFFF;
	font-weight: bold;
	background-color: #700000;
	margin: 5px;
	padding: 5px;
	border-radius: 5px;
	border-width: 0;
}

.buttonStyle:hover {
	cursor: pointer;
	background-color: #E10019;
}

.logoutbox {
	float: right;
	height: 50px;
	padding-top: 7px;
	padding-right: 5px;
}

.logoutbox-content {
	height: 100%;
	margin-top: auto;
	margin-bottom: auto;
		vertical-align:middle;
}

.homebutton {
	padding: 5px;
	width: 35px;
}

.table {
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	width: 100%;
	border-collapse: collapse;
	text-align: center;
}

.tableHeader {
	border: 1px solid #700000 font-size: 1.1em;
	padding-top: 5px;
	padding-bottom: 4px;
	color: #ffffff;
	background: none repeat scroll 0 0 #700000;
}

.tableEvenRow {
	border: 1px solid #700000;
	color: #000000;
	background: none repeat scroll 0 0 #FFFFFF;
}

.tableOddRow {
	border: 1px solid #700000;
	color: #000000;
	background: none repeat scroll 0 0 #FFE6E6;
}